<!DOCTYPE html>
<html>

<head>
    <title>Freeshelf</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<header class="bg-green fixed w-100 ph3 pv3 ph4-m ph5-l">
    <nav class="f5 fw6 ttu tracked">
        Logo
        <a class="link dim white dib mr3" href="#" title="Home">Home</a>
        <a class="link dim white dib mr3" href="#" title="About">Books</a>
        <a class="link dim white dib mr3" href="#" title="Store">Authors</a>
        <a class="link dim white dib" href="#" title="Contact">Suggest Books</a>
    </nav>
</header>

<body>
    <h1>Freeshelf</h1>
</body>

</html>